CREATE DATABASE CDIO
GO

USE CDIO
GO

ALTER TABLE [dbo].[product] DROP CONSTRAINT [CK__product__status__4D94879B]
GO
ALTER TABLE [dbo].[payment] DROP CONSTRAINT [CK__payment__payment__6A30C649]
GO
ALTER TABLE [dbo].[payment] DROP CONSTRAINT [CK__payment__payment__693CA210]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [CK__orders__order_st__5FB337D6]
GO
ALTER TABLE [dbo].[cart] DROP CONSTRAINT [CK__cart__status__5441852A]
GO
ALTER TABLE [dbo].[account] DROP CONSTRAINT [CK__account__status__3A81B327]
GO
ALTER TABLE [dbo].[account] DROP CONSTRAINT [CK__account__role__398D8EEE]
GO
ALTER TABLE [dbo].[seller] DROP CONSTRAINT [FK_seller_account]
GO
ALTER TABLE [dbo].[product] DROP CONSTRAINT [FK_product_seller]
GO
ALTER TABLE [dbo].[payment] DROP CONSTRAINT [FK_payment_seller]
GO
ALTER TABLE [dbo].[payment] DROP CONSTRAINT [FK_payment_order]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [FK_orders_buyer]
GO
ALTER TABLE [dbo].[order_item] DROP CONSTRAINT [FK_orderitem_product]
GO
ALTER TABLE [dbo].[order_item] DROP CONSTRAINT [FK_orderitem_order]
GO
ALTER TABLE [dbo].[cart_product] DROP CONSTRAINT [FK_cartproduct_product]
GO
ALTER TABLE [dbo].[cart_product] DROP CONSTRAINT [FK_cartproduct_cart]
GO
ALTER TABLE [dbo].[cart] DROP CONSTRAINT [FK_cart_buyer]
GO
ALTER TABLE [dbo].[buyer] DROP CONSTRAINT [FK_buyer_account]
GO
ALTER TABLE [dbo].[admin] DROP CONSTRAINT [FK_admin_account]
GO
ALTER TABLE [dbo].[seller] DROP CONSTRAINT [DF__seller__created___44FF419A]
GO
ALTER TABLE [dbo].[seller] DROP CONSTRAINT [DF__seller__rating__440B1D61]
GO
ALTER TABLE [dbo].[seller] DROP CONSTRAINT [DF__seller__verified__4316F928]
GO
ALTER TABLE [dbo].[product] DROP CONSTRAINT [DF__product__updated__5070F446]
GO
ALTER TABLE [dbo].[product] DROP CONSTRAINT [DF__product__created__4F7CD00D]
GO
ALTER TABLE [dbo].[product] DROP CONSTRAINT [DF__product__status__4E88ABD4]
GO
ALTER TABLE [dbo].[payment] DROP CONSTRAINT [DF__payment__payment__6B24EA82]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [DF__orders__created___619B8048]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [DF__orders__order_st__60A75C0F]
GO
ALTER TABLE [dbo].[cart_product] DROP CONSTRAINT [DF__cart_prod__added__5AEE82B9]
GO
ALTER TABLE [dbo].[cart] DROP CONSTRAINT [DF__cart__updated_at__571DF1D5]
GO
ALTER TABLE [dbo].[cart] DROP CONSTRAINT [DF__cart__created_at__5629CD9C]
GO
ALTER TABLE [dbo].[cart] DROP CONSTRAINT [DF__cart__status__5535A963]
GO
ALTER TABLE [dbo].[buyer] DROP CONSTRAINT [DF__buyer__created_a__3F466844]
GO
ALTER TABLE [dbo].[admin] DROP CONSTRAINT [DF__admin__created_a__49C3F6B7]
GO
ALTER TABLE [dbo].[admin] DROP CONSTRAINT [DF__admin__permissio__48CFD27E]
GO
ALTER TABLE [dbo].[account] DROP CONSTRAINT [DF__account__created__3C69FB99]
GO
ALTER TABLE [dbo].[account] DROP CONSTRAINT [DF__account__status__3B75D760]
GO
/****** Object:  Index [UQ__account__F3DBC5726DB2079C]    Script Date: 3/2/2026 10:14:50 AM ******/
ALTER TABLE [dbo].[account] DROP CONSTRAINT [UQ__account__F3DBC5726DB2079C]
GO
/****** Object:  Index [UQ__account__AB6E6164074C304C]    Script Date: 3/2/2026 10:14:50 AM ******/
ALTER TABLE [dbo].[account] DROP CONSTRAINT [UQ__account__AB6E6164074C304C]
GO
/****** Object:  Table [dbo].[seller]    Script Date: 3/2/2026 10:14:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[seller]') AND type in (N'U'))
DROP TABLE [dbo].[seller]
GO
/****** Object:  Table [dbo].[product]    Script Date: 3/2/2026 10:14:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product]') AND type in (N'U'))
DROP TABLE [dbo].[product]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 3/2/2026 10:14:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[payment]') AND type in (N'U'))
DROP TABLE [dbo].[payment]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 3/2/2026 10:14:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[orders]') AND type in (N'U'))
DROP TABLE [dbo].[orders]
GO
/****** Object:  Table [dbo].[order_item]    Script Date: 3/2/2026 10:14:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[order_item]') AND type in (N'U'))
DROP TABLE [dbo].[order_item]
GO
/****** Object:  Table [dbo].[cart_product]    Script Date: 3/2/2026 10:14:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cart_product]') AND type in (N'U'))
DROP TABLE [dbo].[cart_product]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 3/2/2026 10:14:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cart]') AND type in (N'U'))
DROP TABLE [dbo].[cart]
GO
/****** Object:  Table [dbo].[buyer]    Script Date: 3/2/2026 10:14:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[buyer]') AND type in (N'U'))
DROP TABLE [dbo].[buyer]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 3/2/2026 10:14:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[admin]') AND type in (N'U'))
DROP TABLE [dbo].[admin]
GO
/****** Object:  Table [dbo].[account]    Script Date: 3/2/2026 10:14:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[account]') AND type in (N'U'))
DROP TABLE [dbo].[account]
GO
/****** Object:  Table [dbo].[account]    Script Date: 3/2/2026 10:14:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[last_login] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 3/2/2026 10:14:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[permission_level] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buyer]    Script Date: 3/2/2026 10:14:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buyer](
	[buyer_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[address] [nvarchar](max) NULL,
	[date_of_birth] [date] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[buyer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 3/2/2026 10:14:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[buyer_id] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_product]    Script Date: 3/2/2026 10:14:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_product](
	[cart_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_item]    Script Date: 3/2/2026 10:14:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 3/2/2026 10:14:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[buyer_id] [int] NOT NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[order_status] [nvarchar](20) NULL,
	[shipping_address] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[completed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 3/2/2026 10:14:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[seller_id] [int] NOT NULL,
	[payment_method] [nvarchar](20) NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[payment_status] [nvarchar](20) NULL,
	[paid_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 3/2/2026 10:14:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[seller_id] [int] NOT NULL,
	[product_name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price_original] [decimal](12, 2) NOT NULL,
	[price_discount] [decimal](12, 2) NULL,
	[quantity] [int] NOT NULL,
	[expiration_date] [date] NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[image_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seller]    Script Date: 3/2/2026 10:14:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seller](
	[seller_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[shop_name] [nvarchar](150) NOT NULL,
	[shop_description] [nvarchar](max) NULL,
	[shop_address] [nvarchar](max) NULL,
	[verified] [bit] NULL,
	[rating] [float] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[seller_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([account_id], [username], [password_hash], [email], [phone], [role], [status], [created_at], [last_login]) VALUES (1, N'admin1', N'123456', N'admin@cdio.com', N'0900000001', N'admin', N'active', CAST(N'2026-02-01T14:31:06.743' AS DateTime), NULL)
INSERT [dbo].[account] ([account_id], [username], [password_hash], [email], [phone], [role], [status], [created_at], [last_login]) VALUES (2, N'buyer1', N'123456', N'buyer1@cdio.com', N'0900000002', N'buyer', N'active', CAST(N'2026-02-01T14:31:06.743' AS DateTime), NULL)
INSERT [dbo].[account] ([account_id], [username], [password_hash], [email], [phone], [role], [status], [created_at], [last_login]) VALUES (3, N'buyer2', N'123456', N'buyer2@cdio.com', N'0900000003', N'buyer', N'active', CAST(N'2026-02-01T14:31:06.743' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([admin_id], [account_id], [full_name], [permission_level], [created_at]) VALUES (4, 1, N'System Admin', 1, CAST(N'2026-02-01T14:33:47.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[admin] OFF
GO
SET IDENTITY_INSERT [dbo].[buyer] ON 

INSERT [dbo].[buyer] ([buyer_id], [account_id], [full_name], [address], [date_of_birth], [created_at]) VALUES (1, 2, N'Nguyen Van A', N'Da Nang', CAST(N'2002-05-10' AS Date), CAST(N'2026-02-01T14:33:52.537' AS DateTime))
INSERT [dbo].[buyer] ([buyer_id], [account_id], [full_name], [address], [date_of_birth], [created_at]) VALUES (2, 3, N'Tran Thi B', N'Ha Noi', CAST(N'2001-08-20' AS Date), CAST(N'2026-02-01T14:33:52.537' AS DateTime))
SET IDENTITY_INSERT [dbo].[buyer] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([cart_id], [buyer_id], [status], [created_at], [updated_at]) VALUES (1, 1, N'converted', CAST(N'2026-02-01T14:39:41.367' AS DateTime), CAST(N'2026-02-01T14:39:41.367' AS DateTime))
INSERT [dbo].[cart] ([cart_id], [buyer_id], [status], [created_at], [updated_at]) VALUES (2, 2, N'active', CAST(N'2026-02-01T14:39:41.367' AS DateTime), CAST(N'2026-02-01T14:39:41.367' AS DateTime))
INSERT [dbo].[cart] ([cart_id], [buyer_id], [status], [created_at], [updated_at]) VALUES (3, 1, N'converted', CAST(N'2026-02-23T08:34:02.263' AS DateTime), CAST(N'2026-02-23T08:34:02.263' AS DateTime))
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[order_item] ON 

INSERT [dbo].[order_item] ([order_item_id], [order_id], [product_id], [price], [quantity]) VALUES (2, 1, 4, CAST(10000.00 AS Decimal(12, 2)), 2)
INSERT [dbo].[order_item] ([order_item_id], [order_id], [product_id], [price], [quantity]) VALUES (3, 1, 5, CAST(15000.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[order_item] ([order_item_id], [order_id], [product_id], [price], [quantity]) VALUES (4, 2, 3, CAST(10000.00 AS Decimal(12, 2)), 7)
SET IDENTITY_INSERT [dbo].[order_item] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [buyer_id], [total_amount], [order_status], [shipping_address], [created_at], [completed_at]) VALUES (1, 1, CAST(35000.00 AS Decimal(12, 2)), N'completed', N'Da Nang', CAST(N'2026-02-01T14:46:03.693' AS DateTime), NULL)
INSERT [dbo].[orders] ([order_id], [buyer_id], [total_amount], [order_status], [shipping_address], [created_at], [completed_at]) VALUES (2, 1, CAST(70000.00 AS Decimal(12, 2)), N'pending', NULL, CAST(N'2026-02-23T08:33:31.637' AS DateTime), NULL)
INSERT [dbo].[orders] ([order_id], [buyer_id], [total_amount], [order_status], [shipping_address], [created_at], [completed_at]) VALUES (3, 1, CAST(45000.00 AS Decimal(12, 2)), N'pending', NULL, CAST(N'2026-02-23T08:34:10.393' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[payment] ON 

INSERT [dbo].[payment] ([payment_id], [order_id], [seller_id], [payment_method], [amount], [payment_status], [paid_at]) VALUES (4, 1, 1, N'BANKING', CAST(200000.00 AS Decimal(12, 2)), N'pending', NULL)
SET IDENTITY_INSERT [dbo].[payment] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [seller_id], [product_name], [description], [price_original], [price_discount], [quantity], [expiration_date], [status], [created_at], [updated_at], [image_url]) VALUES (3, 1, N'Bánh mì', N'Bánh mì gần hết hạn', CAST(20000.00 AS Decimal(12, 2)), CAST(10000.00 AS Decimal(12, 2)), 43, CAST(N'2026-02-03' AS Date), N'available', CAST(N'2026-02-01T14:39:02.993' AS DateTime), CAST(N'2026-02-01T14:39:02.993' AS DateTime), N'/static/uploads/banh-mi.webp')
INSERT [dbo].[product] ([product_id], [seller_id], [product_name], [description], [price_original], [price_discount], [quantity], [expiration_date], [status], [created_at], [updated_at], [image_url]) VALUES (4, 1, N'Sữa hộp', N'Sữa giảm giá', CAST(30000.00 AS Decimal(12, 2)), CAST(15000.00 AS Decimal(12, 2)), 27, CAST(N'2026-02-04' AS Date), N'available', CAST(N'2026-02-01T14:39:02.993' AS DateTime), CAST(N'2026-02-01T14:39:02.993' AS DateTime), N'/static/uploads/sua-hop.webp')
INSERT [dbo].[product] ([product_id], [seller_id], [product_name], [description], [price_original], [price_discount], [quantity], [expiration_date], [status], [created_at], [updated_at], [image_url]) VALUES (5, 2, N'Rau sạch', N'Rau tươi trong ngày', CAST(40000.00 AS Decimal(12, 2)), CAST(20000.00 AS Decimal(12, 2)), 40, CAST(N'2026-02-02' AS Date), N'available', CAST(N'2026-02-01T14:39:02.993' AS DateTime), CAST(N'2026-02-01T14:39:02.993' AS DateTime), N'/static/uploads/rau-sach.webp')
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[seller] ON 

INSERT [dbo].[seller] ([seller_id], [account_id], [shop_name], [shop_description], [shop_address], [verified], [rating], [created_at]) VALUES (1, 4, N'Green Food Store', N'Rescue food near expiry', N'Da Nang', 1, 4.5, CAST(N'2026-02-01T14:33:59.020' AS DateTime))
INSERT [dbo].[seller] ([seller_id], [account_id], [shop_name], [shop_description], [shop_address], [verified], [rating], [created_at]) VALUES (2, 5, N'Fresh Rescue', N'Save food – save money', N'Ha Noi', 0, 4, CAST(N'2026-02-01T14:33:59.020' AS DateTime))
INSERT [dbo].[seller] ([seller_id], [account_id], [shop_name], [shop_description], [shop_address], [verified], [rating], [created_at]) VALUES (3, 4, N'My Store', N'Rescue food near expiry', N'Da Nang', 0, 0, CAST(N'2026-02-15T11:55:02.097' AS DateTime))
SET IDENTITY_INSERT [dbo].[seller] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__AB6E6164074C304C]    Script Date: 3/2/2026 10:14:50 AM ******/
ALTER TABLE [dbo].[account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__F3DBC5726DB2079C]    Script Date: 3/2/2026 10:14:50 AM ******/
ALTER TABLE [dbo].[account] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[admin] ADD  DEFAULT ((1)) FOR [permission_level]
GO
ALTER TABLE [dbo].[admin] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[buyer] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cart_product] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('pending') FOR [order_status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payment] ADD  DEFAULT ('pending') FOR [payment_status]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[seller] ADD  DEFAULT ((0)) FOR [verified]
GO
ALTER TABLE [dbo].[seller] ADD  DEFAULT ((0)) FOR [rating]
GO
ALTER TABLE [dbo].[seller] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[admin]  WITH CHECK ADD  CONSTRAINT [FK_admin_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[admin] CHECK CONSTRAINT [FK_admin_account]
GO
ALTER TABLE [dbo].[buyer]  WITH CHECK ADD  CONSTRAINT [FK_buyer_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[buyer] CHECK CONSTRAINT [FK_buyer_account]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_buyer] FOREIGN KEY([buyer_id])
REFERENCES [dbo].[buyer] ([buyer_id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_buyer]
GO
ALTER TABLE [dbo].[cart_product]  WITH CHECK ADD  CONSTRAINT [FK_cartproduct_cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([cart_id])
GO
ALTER TABLE [dbo].[cart_product] CHECK CONSTRAINT [FK_cartproduct_cart]
GO
ALTER TABLE [dbo].[cart_product]  WITH CHECK ADD  CONSTRAINT [FK_cartproduct_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[cart_product] CHECK CONSTRAINT [FK_cartproduct_product]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK_orderitem_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK_orderitem_order]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK_orderitem_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK_orderitem_product]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_buyer] FOREIGN KEY([buyer_id])
REFERENCES [dbo].[buyer] ([buyer_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_buyer]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_payment_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_payment_order]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_payment_seller] FOREIGN KEY([seller_id])
REFERENCES [dbo].[seller] ([seller_id])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_payment_seller]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_seller] FOREIGN KEY([seller_id])
REFERENCES [dbo].[seller] ([seller_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_seller]
GO
ALTER TABLE [dbo].[seller]  WITH CHECK ADD  CONSTRAINT [FK_seller_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[seller] CHECK CONSTRAINT [FK_seller_account]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='seller' OR [role]='buyer'))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([status]='pending' OR [status]='locked' OR [status]='active'))
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD CHECK  (([status]='converted' OR [status]='active'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([order_status]='cancelled' OR [order_status]='completed' OR [order_status]='shipped' OR [order_status]='paid' OR [order_status]='pending'))
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD CHECK  (([payment_method]='e_wallet' OR [payment_method]='banking' OR [payment_method]='COD'))
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD CHECK  (([payment_status]='failed' OR [payment_status]='success' OR [payment_status]='pending'))
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD CHECK  (([status]='expired' OR [status]='out_of_stock' OR [status]='available'))
GO
